.benefit-innr {
    &:hover {
        .btn {
            background: var(--color-secondary);
            color: var(--color-white);
            border-color: var(--color-secondary);
        }
        .benefit-pic {
            &:after,p,.play-btn {
                opacity: 1;
            }
        }
    }
}
.benefit-pic {
    aspect-ratio: 4 / 2;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 51.92%, #FFFFFF 100%);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        z-index: 4;
    }
    p {
        color: var(--color-primary);
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0 8px 8px 0;
        margin: 0;
        opacity: 0;
        transition: all 0.5s;
        z-index: 5;
    }
    .play-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        border: 0;
        background: transparent;
        padding: 0;
        z-index: 5;
        opacity: 0;
        transition: all 0.5s;
        @media (max-width:991px) { 
            width: 40px;
        }
        img {
            width:auto;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.benefit-content {
    margin-top: 16px;
    @media (max-width:767px) { 
        text-align: center;
    }
    h3 {
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 24px;
    }
}