.review-card {
    background: rgba(225, 216, 204, 0.2);
    padding: 24px;
    border-radius: 16px;
    .rating {
        margin-bottom: 16px;
        display: block;
    }
    p {
        color: var(--color-primary);
        margin-bottom: 16px;
    }
    span {
        display: block;
        &.posted {
            margin-bottom: 8px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
        }
    }
    .review-otr {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        .review-pic {
            width: 40px;
            height: 40px;
            min-width: 40px;
            border-radius: 100%;
            object-fit: cover;
        }
        .review-txt {
            h4 {
                color: #1A1A1A;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
}
.desc {
    min-height: 70px;
}
.review-slider {
    padding-bottom: 50px;
    .slick-prev ,.slick-next{
        bottom: 0;
        top: auto;
        transform: none;
        left: 0;
        right: 0;
        margin: auto;
    }
    .slick-prev {
        left: -40px;
        background-image: url('../../../assets/images/left-arrow.svg')!important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 25px;
        height: 5px;
        &:before {
            display: none;
        }
    }
    .slick-next{
        right: -40px;
        background-image: url('../../../assets/images/right-arrow.svg')!important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 25px;
        height: 5px;
        &:before {
            display: none;
        }
    }
}