.review-card {
    background: rgba(225, 216, 204, 0.2);
    padding: 24px;
    border-radius: 16px;
    @media (max-width:1199px) { 
        padding: 15px;
        min-height: 290px;
    }
    @media (max-width:767px) { 
        min-height: auto;
        text-align: center;
    }
    .rating {
        margin-bottom: 16px;
        display: block;
        @media (max-width:767px) { 
            display: inline-block;
        }
    }
    p {
        color: var(--color-primary);
        margin-bottom: 16px;
    }
    span {
        display: block;
        @media (max-width:767px) { 
            width: max-content;
            margin: auto;
        }
        &.posted {
            margin-bottom: 8px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
        }
    }
    .review-otr {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        @media (max-width:1199px) { 
            gap: 9px;
        }
        @media (max-width:767px) { 
            justify-content: center;
        }
        .review-pic {
            width: 40px;
            height: 40px;
            min-width: 40px;
            border-radius: 100%;
            object-fit: cover;
        }
        .review-txt {
            @media (max-width:767px) { 
                text-align: left;
            }
            h4 {
                color: #1A1A1A;
                margin-bottom: 8px;
                @media (max-width:1199px) { 
                    margin-bottom: 4px;
                }
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
                @media (max-width:1199px) { 
                    font-size: 13px;
                }
            }
        }
    }
}
.desc {
    min-height: 70px;
    @media (max-width:767px) { 
        min-height: auto;
    }
}
.review-slider {
    padding-bottom: 50px;
    .slick-prev ,.slick-next{
        bottom: 0;
        top: auto;
        transform: none;
        left: 0;
        right: 0;
        margin: auto;
    }
    .slick-prev {
        left: -40px;
        background-image: url('../../assets/images/left-arrow.svg')!important;
        background-repeat: no-repeat!important;
        background-size: 100% 100%!important;
        width: 25px;
        height: 5px;
        &:before {
            display: none;
        }
    }
    .slick-next{
        right: -40px;
        background-image: url('../../assets/images/right-arrow.svg')!important;
        background-repeat: no-repeat!important;
        background-size: 100% 100%!important;
        width: 25px;
        height: 5px;
        &:before {
            display: none;
        }
    }
}