.form-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    .forgot-password {
        color: var(--color-primary);
        font-family: var(--glacial_indifferencebold);
        font-weight: normal;
        &:hover {
            color: var(--color-secondary);
        }
    }
}

.input-field {
  position: relative;
}

.input-right-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-right-icon img {
  width: 24px;
  height: 24px;
}

.input-error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
}
