.my-life-story {
    .my-life-story-hdr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 32px;
        @media (max-width:991px) { 
            flex-direction: column;
            margin-bottom: 24px;
            text-align: center;
        }
        .left-part {
            ul {
                display: flex;
                gap: 16px;
                flex-wrap: wrap;
                @media (max-width:575px) { 
                    justify-content: center;
                }
                li {
                    span {
                        font-family: var(--glacial_indifferencebold);
                    }
                }
            }
        }
    }
}
.collections-video {
    aspect-ratio: 12 / 4.8;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &:hover {
        .video-play-btn {
            opacity: 1;
        }
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.video-play-btn {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.5); 
  color: var(--color-secondary);    
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
}
.resume-btn-group {
    display: flex;
    gap: 16px;
}
.accordion.p-32 {
    .accordion-item {
        background: rgba(225, 216, 204, 0.14);
    }
    .accordion-header {
        padding: 32px;
        @media (max-width:991px) { 
            padding: 20px;
        }
    }
    .accordion-body {
        padding-top: 24px;
        padding-bottom: 24px;
        @media (max-width:991px) { 
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}