.inner-banner {
    padding: 75px 0;
    position: relative;
    z-index: 1;
    &:after {
        position: absolute;
        content: '';
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 30.29%, rgba(255, 255, 255, 0.5) 56.25%, #FFFFFF 95.19%);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &:before {
        position: absolute;
        content: '';
        background: url('../../assets/images/overlay.png') no-repeat;
        background-size: 100% 100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }
    h1 {
        max-width: 684px;
    }
}