.feature-card {
    h3 {
        margin-bottom: 16px;
        font-weight: normal;
    }
    .ai-image {
        border-radius: 12px;
        overflow: hidden;
        aspect-ratio: 4 / 1.5;
        margin-bottom: 16px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
