.form-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    .forgot-password {
        color: var(--color-primary);
        font-family: var(--glacial_indifferencebold);
        font-weight: normal;
        &:hover {
            color: var(--color-secondary);
        }
    }
}
.form-btn {
    display: flex;
    gap: 16px;
}