.review-card {
    background: rgba(225, 216, 204, 0.2);
    padding: 24px;
    border-radius: 16px;
    .rating {
        margin-bottom: 16px;
        display: block;
    }
    p {
        color: var(--color-primary);
        margin-bottom: 16px;
    }
    span {
        display: block;
        &.posted {
            margin-bottom: 8px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
        }
    }
    .review-otr {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        .review-pic {
            width: 40px;
            height: 40px;
            min-width: 40px;
            border-radius: 100%;
            object-fit: cover;
        }
        .review-txt {
            h4 {
                color: #1A1A1A;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
}
