.accordion-item {
    border: 0;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
}
.accordion-header {
  width: 100%;
  padding: 18px 32px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  font-size: 20px;
  background: rgba(225, 216, 204, 0.14);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--color-primary);
  font-weight: normal;
  font-family: var(--glacial_indifferencebold);
}

.accordion-body {
  padding: 16px 32px;
  p {
    color: var(--color-a1);
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
  }
}