.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 32px 0;
    min-height: 130px;
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--color-white);
    .notification-icon {
        a {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
        }
    }
    .user {
        .dropdown-toggle {
            display:flex;
            align-items: center;
            gap: 8px;
            border: 0;
            padding: 0;
            background: transparent;
            color: var(--color-primary);
            &:after {
                border-right: .2em solid transparent;
                border-left: .2em solid transparent;
            }
            span {
                width: 48px;
                height: 48px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
            }
        }
    }
}
.dropdown {
    &:hover {
        .dropdown-menu {
            display: block;
            border: 1px solid var(--color-e1);
            padding: 18px 16px;
            border-radius: 16px;
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: var(--color-primary);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}