.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 32px 0;
    min-height: 130px;
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--color-white);
    @media (max-width:1199px) { 
        padding: 25px 0;
        min-height: 100px;
    }
    @media (max-width:767px) { 
        padding: 15px 0;
        min-height: auto;
    }
    .notification-icon {
        a {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
        }
    }
    .user {
        .dropdown-toggle {
            display:flex;
            align-items: center;
            gap: 8px;
            border: 0;
            padding: 0;
            background: transparent;
            color: var(--color-primary);
            &:after {
                border-right: .2em solid transparent;
                border-left: .2em solid transparent;
            }
            span {
                width: 48px;
                height: 48px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
            }
        }
    }
}
.dropdown {
    &:hover {
        .dropdown-menu {
            display: block;
            border: 1px solid var(--color-e1);
            padding: 18px 16px;
            border-radius: 16px;
            @media (max-width:767px) { 
                right: 0;
                z-index: 555;
                li {
                    a {
                        font-size: 14px;
                        span {
                            margin-bottom: 2px;
                        }
                    }
                }
            }
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: var(--color-primary);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.menu-bar {
    @media (max-width:767px) { 
        background: var(--color-primary);
        padding: 2px 6px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: auto;
        img {
            width: 27px;
        }
    }
  }