.banner {
    padding: 45px 0;
    background-size: cover;
    background-repeat: no-repeat;
    .banner-content {
        max-width: 684px;
    }
    h1 {
        font-weight: 300;
        margin-bottom: 15px;
        span {
            font-weight: 700;
        }
    }
    p {
        margin-bottom: 32px;
        color: var(--color-primary);
    }
}
.ban-img {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 4 / 2.8;
    position: relative;
    .play-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    .shape-1 {
        position: absolute;
        top: 24px;
        left: 24px;
        img {
            width: auto;
        }
    }
    .image-area {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.banner-img-wrapper {
    position: relative;
    padding: 0 24px 65px;
    z-index: 1;
    .shape-2 {
        position: absolute;
        bottom: 24px;
        z-index: -1;
        right: 10px;
    }
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        background: var(--color-secondary);
        border-radius: 12px;
    }
}
.plans-sec {
    background: rgba(225, 216, 204, 0.3);
}
.plans-card {
    background: var(--color-white);
    padding: 32px;
    border-radius: 12px;
    position: relative;
    h2 {
        font-size: 48px;
        font-weight: normal;
        color: var(--color-primary);
        font-family: var(--glacial_indifferencebold);
        margin-bottom: 16px;
        span {
            font-size: 16px;
            font-family: var(--glacial_indifferenceregular);
            color: var(--color-a1);
        }
    }
    h3 {
        font-weight: normal;
        margin-bottom: 8px;
        span {
            font-family: var(--glacial_indifferenceregular);
        }
    }
    p {
        margin-bottom: 24px;
    }
    ul {
        margin-bottom: 24px;
    }
}
.plans-tag {
    position: absolute;
    font-size: 14px;
    background: var(--color-secondary);
    padding: 10.5px;
    display: inline-block;
    top: -8px;
    right: 0;
    color: var(--color-white);
    line-height: 1;
    &:after {
        position: absolute;
        content: '';
        left: -8px;
        top: 0;
        background: url('../../../assets/images/tag-back.png') no-repeat;
        background-size: 100% 100%;
        width: 8px;
        height: 8px;
    }
}
.feature-otr {
    position: relative;
    z-index: 1;
    &:after {
        position: absolute;
        content: '';
        background: url('../../../assets/images/curve.png') no-repeat;
        background-size: 100% 100%;
        width: 42%;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        height: 35%;
        z-index: -1;
    }
}
.feature-row.row {
    margin: 0 -60px;
    .feature-col {
        padding: 0 60px;
    }
}
.start-today {
    background: rgba(225, 216, 204, 0.3);
}
.button-group {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.start-today {
    .cmn-hdr {
        p {
            font-size: 24px;
        }
    }
}
.back {
    background: rgba(225, 216, 204, 0.3);
}