.story-txt {
    h3 {
        margin-bottom: 26px;
        @media (max-width:1199px) { 
            margin-bottom: 15px;
        }
    }
}
.story-list {
    margin-bottom: 32px;
    @media (max-width:1199px) { 
        margin-bottom: 25px;
    }
    p {
        color: var(--color-primary);
    }
}
.story-row {
    &:nth-child(2n) {
        flex-direction: row-reverse;
        .story-txt {
            padding: 0 36px 0 120px;
            @media (max-width:1199px) { 
                padding: 0 25px 0 70px;
            }
            @media (max-width:991px) { 
                padding: 0 25px;
            }
            @media (max-width:767px) { 
                padding:15px 0;
            }
        }
    }
}
.story-img {
    aspect-ratio: 4 / 2;
    @media (max-width:1199px) { 
        aspect-ratio: 4 / 2.8;
    }
    @media (max-width:991px) { 
        aspect-ratio: 4 / 3.5;
    }
    @media (max-width:767px) { 
        aspect-ratio: 4 / 3;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.story-txt {
    padding: 0 120px 0 36px;
    @media (max-width:1199px) { 
        padding: 0 70px 0 25px;
    }
    @media (max-width:991px) { 
        padding: 0 25px;
    }
    @media (max-width:767px) { 
        padding:15px 0;
        text-align: center;
    }
}