.header {
    padding: 15px 0;
    background: linear-gradient(108.18deg, #FFFFFF 0%, #FFF6EB 100%);
}
.logo {
   @media (max-width:1199px) { 
    max-width: 100px;
    min-width: 100px;
   }
   @media (max-width:991px) { 
    max-width: 70px;
    min-width: 70px;
   }
}
.header-otr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .btn {
        min-width: 200px;
        @media (max-width:991px) { 
            min-width: 160px;
        }
        @media (max-width:767px) { 
            margin-left: auto;
        }
    }
    .navbar {
        ul {
            display: flex;
            align-items: center;
            gap: 32px;
            @media (max-width:991px) { 
                gap: 15px;
            }
            @media (max-width:767px) { 
                flex-direction: column;
                justify-content: center;
                width: 100%;
            }
            li {
                a {
                    color: var(--color-2f);
                    @media (max-width:767px) { 
                        font-size: 18px;
                    }
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}
.hamburger {
    display: none;
}
@media (max-width:767px) { 
    /* Hamburger */
    .hamburger {
    width: 40px;
    cursor: pointer;
    z-index: 100;
    position: relative;
    display: block;
    background: var(--color-secondary);
    border-radius: 4px;
    padding: 2px 6px;
    }
    .hamburger span {
    display: block;
    height: 2px;
    background: #fff;
    margin: 6px 0;
    transition: 0.3s;
    }

    /* Animate to X */
    .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
    opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    }

    /* Menu */
    .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.3s;
    padding: 80px 20px;
    z-index: 99;
    overflow-y: auto;
    }
    .mobile-menu.show {
    left: 0;
    }
}