.interviews-box {
    .interviews-left {
        padding: 32px;
            background: linear-gradient(
    180deg,
    rgba(243, 246, 229, 0.15) 0%,
    rgba(203, 216, 216, 0.15) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @media (max-width:1199px) { 
        padding: 25px;
        figure {
            img {
                width: 250px;
            }
        }
    }
    @media (max-width:991px) { 
        margin-bottom: 24px;
        height: auto;
        figure {
            img {
                width: 150px;
            }
        }
    }
    @media (max-width:420px) { 
        figure {
            img {
                width: 120px;
            }
        }
    }
    .vd-icon {
        position: absolute;
        bottom: 32px;
        right: 32px;
        @media (max-width:991px) { 
            bottom: 20px;
            right: 20px;
        }
        &.cm-icon {
            width: 48px;
            min-width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
        }
    }
    }
    .interviews-right {
        background: linear-gradient(
    180deg,
    rgba(243, 246, 229, 0.14) 0%,
    rgba(203, 216, 216, 0.14) 100%
    );
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @media (max-width:1199px) { 
        figure {
            img {
                width: 100px;
            }
        }
    }
    @media (max-width:991px) { 
        height: auto;
        figure {
            img {
                width: 60px;
            }
        }
    }
    .top-part {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 52px;
          background: linear-gradient(
    180deg,
    rgba(243, 246, 229, 0.14) 0%,
    rgba(203, 216, 216, 0.14) 100%
    );
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        @media (max-width:1199px) { 
            padding: 35px;
        }
    }
    }
}
.bottom-part {
    padding: 24px 32px 32px;
    @media (max-width:767px) { 
        padding: 20px 15px 24px;
    }
}
.radio-list {
    margin-top: 16px;
    li {
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.interviews-right {
    .chat-wrapper {
        min-height: 500px;
    }
    .chat-innr {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        &.right {
            p {
                background: #E4E7EC;
                border-bottom-right-radius: 4px;
            }
        }
    }
}
.chat-innr {
    .chat-bottom-wrapper {
        background: #F0F2F5;
        border-radius: 32px;
        border-top-left-radius: 4px;
        padding: 24px;
        p {
            padding: 0;
            border-radius: 0;
            background: transparent;
        }
    }
}
.send-msg {
    .attach-icon {
        background: transparent;
        right: 60px;
    }
}