.sidebar {
    background: var(--color-primary);
    max-width: 430px;
    flex-basis: 430px;
    padding: 32px 50px 32px 100px;
    height: 100vh;
    overflow-y: auto;
    .dash-logo {
        margin-bottom: 30px;
    }
    .sidebar-list {
        li {
            &.active {
                a {
                    background: var(--color-cb);
                    color: var(--color-primary);
                    font-family: var(--glacial_indifferencebold);
                    .icon {
                        display: none;
                    }
                    .icon-hover {
                        display: inline-block;
                    }
                }
            }
            a {
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--color-f7);
                padding: 18px 24px;
                border-radius: 16px;
                transition: all 0.5s;
                .icon-hover {
                    display: none;
                }
                span {
                    min-width: 24px;
                }
            }
        }
    }
}