.footer {
    background: var(--color-primary);
    padding-top: 60px;
    @media (max-width:767px) { 
        padding-top: 40px;
        text-align: center;
    }
    .para {
        color: var(--color-white);
        margin-bottom: 32px;
        @media (max-width:767px) { 
            margin-bottom: 25px;
        }
    }
}
.footer-bottom {
    padding: 32px 0;
    @media (max-width:767px) { 
        padding: 25px 0;
        flex-direction: column-reverse;
        gap: 20px;
    }
}
.ft-hdr {
    color: var(--color-cb);
    margin-bottom: 16px;
}
.ft-list {
    @media (max-width:767px) { 
        margin-bottom: 25px;
    }
    li {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: var(--color-white);
            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copiright {
        p {
            color: var(--color-white);
            margin-bottom: 0;
            a {
                color: var(--color-white);
                 &:hover {
                    color: var(--color-secondary);
                }
            }
        }
    }
    .social-icon {
        display: flex;
        align-items: center;
        gap: 16px;
        li {
            a {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
.logo-area {
    @media (max-width:1199px) { 
        max-width: 150px;
        min-width: 150px;
   }
   @media (max-width:767px) { 
        max-width: 120px;
        min-width: 120px;
        margin: 0 auto 25px;
   }
}