.footer {
    background: var(--color-primary);
    padding-top: 60px;
    .para {
        color: var(--color-white);
        margin-bottom: 32px;
    }
}
.footer-bottom {
    padding: 32px 0;
}
.ft-hdr {
    color: var(--color-cb);
    margin-bottom: 16px;
}
.ft-list {
    li {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: var(--color-white);
            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copiright {
        p {
            color: var(--color-white);
            margin-bottom: 0;
            a {
                color: var(--color-white);
                 &:hover {
                    color: var(--color-secondary);
                }
            }
        }
    }
    .social-icon {
        display: flex;
        align-items: center;
        gap: 16px;
        li {
            a {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}