
.admin-layout {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-right {
    max-width: calc(100% - 430px);
    flex-basis: calc(100% - 430px);
    height: 100vh;
    overflow-y: auto;
    padding: 0 100px 0 62px;
    position: relative;
    @media (max-width:1680px) { 
        max-width: calc(100% - 320px);
        flex-basis: calc(100% - 320px);
    }
    @media (max-width:1199px) { 
        max-width: calc(100% - 240px);
        flex-basis: calc(100% - 240px);
    }
    @media (max-width:1399px) { 
        padding: 0 50px;
    }
    @media (max-width:1199px) { 
        padding: 0 30px;
    }
    @media (max-width:767px) { 
        max-width: 100%;
        flex-basis: 100%;
        padding: 0 20px;
        height: auto;
        overflow-y: visible;
    }
    .sub-footer {
        position:static;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }
}
.cmn-box {
    background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
    border-radius: 10px;
    &.lg {
        padding: 48px 119px;
        @media (max-width:1399px) { 
            padding: 30px 60px;
        }
        @media (max-width:991px) { 
            padding: 20px 20px;
        }
        @media (max-width:575px) { 
            padding: 20px 14px;
        }
    }
    &.md {
        padding: 48px 256px;
        @media (max-width:1399px) { 
            padding: 30px 150px;
        }
        @media (max-width:991px) { 
            padding: 20px 60px;
        }
        @media (max-width:575px) { 
            padding: 20px 20px;
        }
    }
}