.btn {
    border-radius: 100px;
    padding: 15px 24px;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 0.8;
    font-weight: 400;
    transition: all 0.5s;
    gap: 10px;
    @media (max-width:991px) { 
        font-size: 15px;
        padding: 15px 20px;
    }
    &.mw-100 {
        @media (max-width:420px) { 
            width: 100%;
        }
    }
    &.btn-outline {
        background: transparent;
        border-color: var(--color-a1);
        color: var(--color-a1);
        &:hover {
            background: var(--color-secondary);
            color: var(--color-white);
            border-color: var(--color-secondary);
        }
    }
    &.btn-primary {
        background: var(--color-primary);
        color: var(--color-white);
        &:hover {
            background: var(--color-secondary);
            border-color: var(--color-secondary);
        }
    }
    &.btn-secondary {
        background: var(--color-secondary);
        color: var(--color-white);
        &:hover {
            background: var(--color-primary);
            border-color: var(--color-primary);
        }
    }
    &.btn-outline-secondary {
        background: transparent;
        border-color: var(--color-cb);
        color: var(--color-cb);
        &:hover {
            background: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-white);
        }
    }
}