@font-face {
    font-family: 'glacial_indifferencebold';
    src: url('../fonts/glacialindifference-bold-webfont.eot');
    src: url('../fonts/glacialindifference-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('../fonts/glacialindifference-bold-webfont.woff') format('woff'),
         url('../fonts/glacialindifference-bold-webfont.ttf') format('truetype'),
         url('../fonts/glacialindifference-bold-webfont.svg#glacial_indifferencebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('../fonts/glacialindifference-regular-webfont.eot');
    src: url('../fonts/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('../fonts/glacialindifference-regular-webfont.woff') format('woff'),
         url('../fonts/glacialindifference-regular-webfont.ttf') format('truetype'),
         url('../fonts/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}