.form-group {
    margin-bottom: 15px;
    position: relative;
    margin-top: 12px;
}
.form-label {
    font-size: 16px;
    font-weight: normal;
    font-family: var(--glacial_indifferencebold);
    letter-spacing: 0.5%;
    color:var(--color-primary);
    @media (max-width:991px) { 
        font-size: 15px;
    }
    span {
        font-family: var(--glacial_indifferenceregular);
    }
    &.float {
        position: absolute;
        top: -12px;
        left: 32px;
        padding: 0 5px;
        background: var(--color-white);
        z-index: 3;
        @media (max-width:767px) { 
            left: 20px;
        }
    }
}
textarea {
    &.form-control {
        height: 120px;
        padding-top: 19px;
    }
}
select {
    &.form-control {
        background-image: url('../images/down-arrow.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right 25px center;
    }
}
.form-control {
    height: 60px;
    padding: 5px 24px;
    border: 1px solid #E1D8CC;
    width: 100%;
    border-radius: 16px;
    color: var(--color-black);
    background: transparent;
    @media (max-width:1199px) { 
        height: 50px;
    }
    &:focus {
        border-color: var(--color-secondary);
    }
    &::placeholder {
        color: var(--color-bb);
    }
    &:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }
}
.password {
    position: relative;
    .lock {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-family: var(--glacial_indifferenceregular);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--color-primary);
    text-align: left;
    @media (max-width:767px) { 
        font-size: 15px;
        padding-left: 25px;
    }
    a {
        text-decoration: underline;
        color: var(--color-primary);
        &:hover {
            color: var(--color-secondary);
        }
    }
    &.mb-32 {
        margin-bottom: 32px;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 1px;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border: 1px solid var(--color-primary);
        @media (max-width:767px) { 
            width: 16px;
            height: 16px;
            top: 3px;
        }
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            @media (max-width:767px) { 
                left: 5px;
                top: 1px;
            }
        }
    }
    input:checked ~ .checkmark {
        background-color: var(--color-primary);
    }
    input:checked ~ .checkmark:after {
    display: block;
    }
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--glacial_indifferenceregular);
  color: var(--color-a1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.sm {
    font-size: 14px;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 2.5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid var(--color-a1);
  border-radius: 50%;
  &:after {
    content: "";
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	left: 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: var(--color-a1);
  }
}
input:checked ~ .checkmark:after {
  display: block;
}
}

.mb-32 {
    margin-bottom: 32px;
}
.otp-box {
  display: flex;
  gap: 8px;
  @media (max-width:767px) { 
    justify-content: center;
  }
}

.otp-box input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #E1D8CC;
  border-radius: 16px;
  @media (max-width:767px) { 
    width: 45px;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
  }
  &::placeholder {
    color: #BBB1A4;
  }
}

.otp-box input:focus {
  border-color: var(--color-secondary);
  outline: none;
}
.form-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    @media (max-width:767px) { 
        margin-bottom: 25px;
    }
    .forgot-password {
        color: var(--color-primary);
        font-family: var(--glacial_indifferencebold);
        font-weight: normal;
        &:hover {
            color: var(--color-secondary);
        }
    }
}
.form-btn {
    display: flex;
    gap: 16px;
    @media (max-width:767px) { 
        justify-content: center;
    }
    @media (max-width:480px) { 
        flex-direction: column;
        .btn {
            width: 100%;
        }
    }
}
.submit-btn {
    min-width: 150px;
}
.cmn-box {
    .form-label.float {
        background: #F7F6F5;
    }
}
.switch-btn-wrapper {
    ul {
        li {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            &:last-child {
                margin-bottom: 0;
            }
            h4 {
                font-family: var(--glacial_indifferenceregular);
                margin-bottom: 8px;
            }
            p {
                color: rgba(47, 43, 54, 0.5);
            }
        }
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
  min-width: 51px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #E9E9EA;
  transition: 0.3s;
  border-radius: 34px;
  &:after {
    position: absolute;
    content: '';
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 100%;
    border: 1px solid #B2B2B2;
    transition: 0.3s;
  }
}

.slider::before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-white);
  transition: 0.3s;
  border-radius: 50%;
  z-index: 5;
}

input:checked + .slider {
  background-color: #65C466;
  &:after {
    width: 1px;
    height: 10px;
    background: var(--color-white);
    border: 0;
    left: 11px;
    right: auto;
    border-radius: 0;
  }
}

input:checked + .slider::before {
  transform: translateX(20px);
}

