.form-group {
    margin-bottom: 15px;
    position: relative;
    margin-top: 12px;
}
.form-label {
    font-size: 16px;
    font-weight: normal;
    font-family: var(--glacial_indifferencebold);
    letter-spacing: 0.5%;
    color:var(--color-primary);
    @media (max-width:991px) { 
        font-size: 15px;
    }
    span {
        font-family: var(--glacial_indifferenceregular);
    }
    &.float {
        position: absolute;
        top: -12px;
        left: 32px;
        padding: 0 5px;
        background: var(--color-white);
        z-index: 3;
        @media (max-width:767px) { 
            left: 20px;
        }
    }
}
textarea {
    &.form-control {
        height: 120px;
        padding-top: 19px;
    }
}
select {
    &.form-control {
        background-image: url('../images/down-arrow.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right 25px center;
    }
}
.form-control {
    height: 60px;
    padding: 5px 24px;
    border: 1px solid #E1D8CC;
    width: 100%;
    border-radius: 16px;
    color: var(--color-black);
    @media (max-width:1199px) { 
        height: 50px;
    }
    &:focus {
        border-color: var(--color-secondary);
    }
    &::placeholder {
        color: var(--color-bb);
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.password {
    position: relative;
    .lock {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-family: var(--glacial_indifferenceregular);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--color-primary);
    text-align: left;
    @media (max-width:767px) { 
        font-size: 15px;
        padding-left: 25px;
    }
    a {
        text-decoration: underline;
        color: var(--color-primary);
        &:hover {
            color: var(--color-secondary);
        }
    }
    &.mb-32 {
        margin-bottom: 32px;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 1px;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border: 1px solid var(--color-primary);
        @media (max-width:767px) { 
            width: 16px;
            height: 16px;
            top: 3px;
        }
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            @media (max-width:767px) { 
                left: 5px;
                top: 1px;
            }
        }
    }
    input:checked ~ .checkmark {
        background-color: var(--color-primary);
    }
    input:checked ~ .checkmark:after {
    display: block;
    }
}
.mb-32 {
    margin-bottom: 32px;
}
.otp-box {
  display: flex;
  gap: 8px;
  @media (max-width:767px) { 
    justify-content: center;
  }
}

.otp-box input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #E1D8CC;
  border-radius: 16px;
  @media (max-width:767px) { 
    width: 45px;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
  }
  &::placeholder {
    color: #BBB1A4;
  }
}

.otp-box input:focus {
  border-color: var(--color-secondary);
  outline: none;
}
.form-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    .forgot-password {
        color: var(--color-primary);
        font-family: var(--glacial_indifferencebold);
        font-weight: normal;
        &:hover {
            color: var(--color-secondary);
        }
    }
}
.form-btn {
    display: flex;
    gap: 16px;
    @media (max-width:767px) { 
        justify-content: center;
    }
    @media (max-width:480px) { 
        flex-direction: column;
        .btn {
            width: 100%;
        }
    }
}
