:root {
    // font family
    --bitter:"Bitter", serif;
    --glacial_indifferenceregular:"glacial_indifferenceregular";
    --glacial_indifferencebold:"glacial_indifferencebold";
    // color
    --color-primary:#446B80;
    --color-secondary:#CC9145;
    --color-a1:#A18769;
    --color-cb:#CBD8D8;
    --color-e1:#E1D8CC;
    --color-bb:#BBB1A4;
    --color-white:#fff;
    --color-black:#000;
    --color-2f:#2F2B36;

}