@use "./variables";
@use "./fonts";
@use "./button";
@use "./form";

body,
html {
    overflow-x: hidden;
}

body {
    font-family: var(--glacial_indifferenceregular);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.4;
    color: var(--color-a1);
    background: var(--color-white);
    @media (max-width:1199px) { 
        font-size: 15px;
    }
     @media (max-width:575px) { 
        font-size: 14px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

* {
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: 1.2;
   font-weight: 600;
   font-family: var(--bitter);
   color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 10px;
}

ul,
li,
ol {
    margin-bottom: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--color-black)
}

img {
    max-width: 100%;
}

h1 {
    font-size: 40px;
    @media (max-width:991px) { 
        font-size: 30px;
    }
    @media (max-width:767px) { 
        font-size: 25px;
    }
}

h2 {
    font-size: 32px;
    @media (max-width:991px) { 
        font-size: 24px;
    }
    @media (max-width:767px) { 
        font-size: 20px;
    }
}
h3 {
    font-size: 20px;
    font-family: var(--glacial_indifferencebold);
    font-weight: normal;
    @media (max-width:991px) { 
        font-size: 16px;
    }
}

h4 {
    font-size: 16px;
    font-family: var(--glacial_indifferencebold);
    font-weight: normal;
}

ul {
    padding: 0;
}
.g-5, .gy-5 {
  --bs-gutter-y: 3rem;
  @media (max-width:767px) { 
    --bs-gutter-y: 2rem;
  }
}
.g-5, .gx-5 {
  --bs-gutter-x: 3rem;
  @media (max-width:767px) { 
    --bs-gutter-x: 2rem;
  }
}
input.form-control:focus {
    box-shadow: none;
}

.container {
    @media (min-width:1400px) {
        max-width: 1440px;
    }
    @media (min-width:1200px) {
        max-width: 1300px;
        padding: 0 15px;
    }
}
.common-gap {
    padding: 60px 0;
    @media (max-width:767px) { 
        padding: 40px 0;
    }
}
.cmn-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 108px;
    margin-bottom: 32px;
    @media (max-width:767px) { 
        gap: 20px;
        margin-bottom: 25px;
        flex-direction: column;
        text-align: center;
    }
    .btn {
        min-width: 260px;
    }
    .cmn-hdr {
        margin-bottom: 0;
    }
}
.cmn-list {
    @media (max-width:767px) { 
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        li {
            text-align: left;
        }
    }
    @media (max-width:420px) { 
        width: 100%;
    }
    li {
        margin-bottom: 16px;
        color: var(--color-primary);
        padding-left: 23px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            background: url('../images/tick.png') no-repeat;
            background-size: 100% 100%;
            width: 15px;
            height: 15px;
            left: 0;
            top: 3px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-slide {
    padding: 0 12px;
    @media (max-width:1199px) { 
        padding: 0 8px;
    }
}
.slick-list {
    margin: 0 -12px;
    @media (max-width:1199px) { 
        margin: 0 -8px;
    }
}
.scale {
    overflow: hidden;
    &:hover {
        img {
            transform: scale(1.05);
        }
    }
    img {
        transition: all 0.5s;
    }
}
.inner-hdr {
    h1 {
        span {
            font-weight: 300;
        }
    }
}
.image-area {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-wrapper {
    margin-bottom: 32px;
    aspect-ratio: 12 / 4.9;
    border-radius: 12px;
    overflow: hidden;
    @media (max-width:767px) { 
        margin-bottom: 25px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}