@use "./variables";
@use "./fonts";
@use "./button";

body,
html {
    overflow-x: hidden;
}

body {
    font-family: var(--glacial_indifferenceregular);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.4;
    color: var(--color-a1);
    background: var(--color-white);
}

* {
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: 1.2;
   font-weight: 600;
   font-family: var(--bitter);
   color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 10px;
}

ul,
li,
ol {
    margin-bottom: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--color-black)
}

img {
    max-width: 100%;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}
h3 {
    font-size: 20px;
    font-family: var(--glacial_indifferencebold);
    font-weight: normal;
}

h4 {
    font-size: 16px;
    font-family: var(--glacial_indifferencebold);
    font-weight: normal;
}

ul {
    padding: 0;
}

input.form-control:focus {
    box-shadow: none;
}

.container {
    @media (min-width:1400px) {
        max-width: 1440px;
    }
}
.common-gap {
    padding: 60px 0;
}
.cmn-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 108px;
    margin-bottom: 32px;
    .btn {
        min-width: 260px;
    }
    .cmn-hdr {
        margin-bottom: 0;
    }
}
.cmn-list {
    li {
        margin-bottom: 16px;
        color: var(--color-primary);
        padding-left: 23px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            background: url('../images/tick.png') no-repeat;
            background-size: 100% 100%;
            width: 15px;
            height: 15px;
            left: 0;
            top: 3px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}