.welcome-header {
    display: flex;
    align-items: center;
    gap: 32px;
    position: fixed;
    top: 0;
    z-index: 5;
    padding: 32px 0;
    @media (max-width:1199px) { 
        gap: 15px;
        position: static;
        padding: 0 0 25px;
    }
    @media (max-width:767px) { 
        justify-content: space-between;
    }
    @media (max-width:575px) { 
        flex-direction: column;
        text-align: center;
    }
    h2 {
        margin-bottom: 8px;
    }
    p {
        @media (max-width:991px) { 
            max-width: 300px;
        }
    }
}