.cmn-wrapper {
    padding: 56px;
    background: linear-gradient(
  180deg,
  rgb(243, 246, 229, 0.15) 0%,
  rgb(203, 216, 216, 0.15) 100%
);
 @media (max-width:991px) { 
    padding: 30px;
 }
  @media (max-width:575px) { 
    padding: 20px 15px;
 }
}
.ask-ai {
    margin-bottom: 56px;
    @media (max-width:991px) { 
        margin-bottom: 40px;
    }
    @media (max-width:575px) { 
        margin-bottom: 24px;
    }
    p {
        font-size: 24px;
        color: var(--color-primary);
        margin-bottom: 0;
        @media (max-width:991px) { 
            font-size: 20px;
        }
        @media (max-width:767px) { 
            font-size: 16px;
        }
    }
}
.send-msg {
    box-shadow: 0px 2px 10px 0px #0000000D;
    background: var(--color-white);
    border-radius: 12px;
    height: 60px;
    width: 100%;
    padding: 6px 24px;
    padding-right: 60px;
    border: 0;
    position: relative;
    .send-msg-input {
        height: 100%;
    }
    input {
        border: 0;
        background: transparent;
        height: 100%;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: var(--color-primary);
        }
    }
    button {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
        border: 0;
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.chat-innr {
    margin-bottom: 32px;
    &:last-child {
        margin-bottom: 0;
    }
    .chat-right-outr {
        display: flex;
        align-items: flex-end;
        gap: 16px;
        @media (max-width:575px) { 
            gap: 8px;
        }
        .chat-right-img {
            width: 48px;
            min-width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, rgba(243, 246, 229, 0.12) 0%, rgba(139, 141, 157, 0.12) 100%);
        }
    }
    &.right {
        display: flex;
        justify-content: flex-end;
    }
    &.left {
        p {
            background: var(--color-white);
            border-bottom-right-radius: 4px;
        }
    }
    .chat-top {
        p {
            background: var(--color-f7);
            border-bottom-left-radius: 4px;
        }
    }
    .chat-bottom {
        p {
            border-top-left-radius: 4px;
            padding: 24px;
            @media (max-width:575px) { 
                padding: 16px 20px;
            }
        }
    }
    p {
        background: #F0F2F5;
        border-radius: 32px;
        padding: 16px 20px;
        margin: 0;
        display: inline-block;
    }
}
.chat-wrapper {
    margin-bottom: 32px;
    min-height: 400px;
    @media (max-width:575px) { 
        margin-bottom: 24px;
    }
}
.faq-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(225, 216, 204, 0.14);
    @media (max-width:767px) { 
        padding: 24px;
    }
    @media (max-width:575px) { 
        padding: 15px;
    }
}